.btn{
    display: flex;
    justify-content: center;
    gap: var(--margin-sm);
    align-items: center;
    padding: var(--margin-sm) var(--margin-bg);
    border: none;
    font-size: 13px;
    font-weight: 900;
    background-color: white;
    color: white;
    cursor: pointer;
    border-radius:50px;
}