.completed-wrapper{
  display: flex;
  flex-direction: column;
  gap: var(--margin-md);
}
.title-wrapper{
    display: flex;
    align-items: center;
    position: relative;
}
.title{
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
}
.message{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

@media (max-width:768px) {
  .title-wrapper{
    justify-content: space-between;
}
.title{
  position: relative;
  transform: translateX(0);
  left: 0;
}
}