@keyframes opacity-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;;
    }
}
.form-container{
   
    position: absolute;
    left: 0; 
    top: 0;
    width: 100vw;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--black-24);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacity-in ease-in-out 0.24s;
}
@keyframes form-in {
    0%{
        transform: scale(0) translate(12px);
        opacity: 0;
    }
    100%{
        transform: scale(1) translate(0px);
    }
}
.form-container form{
    border-radius: 18px;
    background-color: var(--default-bg);
    width: 354px;
    display: flex;
    flex-direction: column;
    padding: var(--margin-eb);
    animation: form-in 0.24s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.12);
    transform-origin: bottom;
    box-shadow: var(--default-shadow)

}
.form-container form h2{
    font-weight: 700;
    font-size: 20px;
    color: var(--main-color);
}
.form-container form p{
    font-size: 13px;
    font-weight: 500;
    margin-top: var(--margin-sm);
    color: var(--main-color);
}
.inputs-container{
    display: flex;
    flex-direction: column;
    gap: var(--margin-sm);
    margin: var(--margin-eb) 0px;
}
.inputs-container input,.inputs-container textarea{
    padding: var(--margin-sm);
    border: none;
    border-bottom: 1px solid var(--main-color);
    opacity: 0.6;
    background-color: transparent;
    color: var(--main-color);
    outline: transparent;
}
.inputs-container input:focus,.inputs-container textarea:focus{
    opacity: 1;
}
.inputs-container input::placeholder,.inputs-container textarea::placeholder{
    color: var(--main-color);
}
.inputs-container textarea{
    resize: none;
}
.close-btn{
    position: absolute;
    right: var(--margin-eb);
    top: var(--margin-eb);
    bottom: none;
    display: none;
    color: white;
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: var(--margin-bg);
    font-weight: 900;
    cursor: pointer;
}
@media (max-width:425px) {
    .form-container form{
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
    .form-container form .add-btn{
        position:absolute;
        bottom: var(--margin-eb);
        right: var(--margin-eb);
    }
    .close-btn{
        display: flex;
    }
}
