
@keyframes in-task {
    0%{
        transform: translatey(12px);
        opacity: 0;
    }
    100%{
        transform: translatey(0px);
    }
}
.tasks-item {
    background-color: #0B0A0F;
    border-radius: 18px;
    padding: 30px 36px;
    animation: in-task 0.24s ease-in-out;
    transform-origin: top left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-date {
    font-size: 12px;
    font-weight: 700;
    color: var(--white-60);
}

.task-title {
    font-size: 16px;
    font-weight: 900;
    color: var(--main-color);
    margin-top: var(--margin-sm);
}
.task-title:first-child{    
    margin-top: 0;
}
.task-description {
    font-size: 16px;
    font-weight: 600;
    color: var(--main-color);
  margin-top: var(--margin-sm);
    height: max-content;
    max-height: 80px;
    overflow: auto;
}
.task-description::-webkit-scrollbar {
    width: 3px;
}

.task-description::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #FFFFFF;
}

.task-description::-webkit-scrollbar-track:hover {
    background-color: #EFEFEF;
}

.task-description::-webkit-scrollbar-track:active {
    background-color: #C2C2C2;
}

.task-description::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--main-color-12);
}

.task-description::-webkit-scrollbar-thumb:hover {
    background-color: #0C1845;
}

.task-description::-webkit-scrollbar-thumb:active {
    background-color: #000000;
}
.task-state{
    font-size: 12px;
    font-weight: 700;
    color: rgb(51, 173, 77);
    margin-left: auto;
}
.buttons-wrapper {
    margin-top: var(--margin-md);
    display: flex;
    gap: var(--margin-md);
    justify-content: flex-end;
}
.buttons-wrapper button{
    border: none;
    font-weight: 700;
    text-transform: capitalize;
    background-color: transparent;
    opacity: 0.6;
    cursor: pointer;
}
.buttons-wrapper button:hover{
    opacity: 1;
}
.buttons-incomplete {
    color: rgb(255, 255, 255);

}
.buttons-incomplete:hover{
    opacity: 1;
}
.buttons-completed {
    color: #00C892;
}
.buttons-delete{
    color: #ad2028;
}