* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "raleway",sans-serif;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
:root{
  --default-bg:#030207;
  --main-color:white;
  --main-color-12:rgba(255, 255, 255, 0.12);
  --white-24:rgba(255, 255, 255, 0.24);
  --white-60:rgba(255, 255, 255, 0.6);
  --default-shadow:rgba(255, 255, 255, 0.06) 0px 50px 100px -20px, rgba(255, 255, 255, 0.12) 0px 30px 60px -30px;
  --dafault-drop-shadow: drop-shadow(0px 50px 100px rgba(255, 255, 255, 0.06)) drop-shadow(0px 30px 60px rgba(255, 255, 255, 0.12));
}
html{
  background-color: #030207;
}
button:hover,a:hover{
  opacity: 0.6;
}
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 30px;
  justify-content: space-between;
  height: 100vh;
}

@media (max-width:768px) {
  .container{
    padding: 30px 24px;
  }
}
/*
@media (max-width:425px) {
  .container{
    padding: 30px 12px;
  }
}*/